body {
    font-family: Arial, sans-serif;
    margin: 2rem;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

.month-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

#pressure-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 2000px;
    margin: 0 auto; /* Zentriert die Liste */
}

#pressure-list li {
    margin: 0.4rem 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%; /* Nimmt die volle Breite der Liste ein */
}

.day-entry {
    cursor: pointer;
    font-weight: bold;
    padding: 0.5rem;
    background-color: var(--day-entry-bg, #dcdcdc);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.day-entry:hover {
    transition: opacity 0.3s ease;
    opacity: 0.8;
}

.pressure-value {
    flex-grow: 0.1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.pressure-slider-container {
    display: flex;
    align-items: center;
}

.slider-value {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: #555;
    vertical-align: middle;
    width: 20px;
    display: inline-block;
    text-align: center;
}

.pressure-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: rgb(119, 119, 119);
    border-radius: 5px;
    outline: none;
}

.convertible {
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    width: 100%;
    max-width: none;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.convertible.open {
    max-height: 400px;  /* Maximale Höhe für den offenen Zustand */
    opacity: 1;
}

.notes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%; /* Nimmt Hälfte des Convertible-Bereichs */
    margin-left: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 0.6rem;
    overflow: hidden;
    flex: 1; /* Nimmt den verfügbaren Platz in Convertible ein */
}

.notes-container textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    flex-grow: 1; /* Nimmt den verfügbaren Platz im Notes-Container ein */
    resize: none;
}

.convertible textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: auto;
    font-size: 0.9rem;
    color: #333;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.save-note-button {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;
    background-color: grey;
    color: white;
    border: black 1px solid;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 4px;
}

.save-note-button:hover {
    background-color: #3e8e41;
}

.chart-line {
    /* Stil für die Linie des Charts */
    borderColor: 'black';
    backgroundColor: 'red';
    tension: 0.3;
    pointRadius: 3;
}

.chart-scales {
    /* Stile für die Achsenbeschriftungen */
    display: block;
}

@media (max-width: 600px) {
    .convertible {
        flex-direction: column; /* Ändere zu column, um die Elemente vertikal anzuordnen */
        align-items: stretch; /* Stelle sicher, dass die Elemente die volle Breite einnehmen */
    }

    .convertible canvas { /* Spezifischer für das Chart-Element */
        width: 100%; /* Stelle sicher, dass der Chart die volle Breite hat */
        order: 1; /* Setze die Reihenfolge des Charts (optional, standardmäßig 0) */
    }

    .convertible .notes-container { /* Spezifischer für den Notizen-Container */
        width: 100%; /* Stelle sicher, dass der Notizen-Container die volle Breite hat */
        margin-top: 1rem; /* Füge etwas Abstand zwischen Chart und Notizen hinzu */
        margin-left: 0; /* Entferne den linken Rand */
        order: 2; /* Setze die Reihenfolge des Notizen-Containers */
    }

    .convertible textarea {
        width: 100%; /* Stelle sicher, dass das Textfeld die volle Breite hat */
        margin-left: 0; /* Entferne den linken Rand */
        margin-top: 1rem; /* Füge oberen Rand hinzu, falls notwendig */
    }
}